# Configuration file of rtorrent >= 0.8

# "0" = no limit
#download_rate = 500
#upload_rate = 150

# Directory of downloaded's torrents
directory = /var/rtorrent/downloaded

# Directory of torrent's state
session = /var/rtorrent/session

# Ports range for rtorrent
port_range = 6881-6999
port_random = no

# Check data at end of downloading
check_hash = yes

# Directory of .torrent file
# For each file adding, downloading start
schedule = watch_directory,15,15,load.start=/var/rtorrent/torrents/*.torrent

# At end of downloading, file is moving to /var/rtorrent/downloaded
method.set_key = event.download.finished,move_complete,"execute=mv,-u,$d.base_path=,/var/rtorrent/downloaded/"

# Event firing with hash as parameters
#method.set_key = event.download.inserted_new,notify_new,"execute=/home/torrent/events/event_new.sh,$d.hash="
#method.set_key = event.download.erased,notify_erased,"execute=/home/torrent/events/event_erased.sh,$d.hash="
#method.set_key = event.download.paused,notify_paused,"execute=/home/torrent/events/event_paused.sh,$d.hash="
#method.set_key = event.download.resumed,notify_resumed,"execute=/home/torrent/events/event_resumed.sh,$d.hash="


# Enable DHT for torrents without trackers
dht = auto
dht_port = 6880

# Encrypted transactions
# ID of seeder and leecher are visible
encryption = allow_incoming,require,require_rc4

log.open_file = "rtorrent.log", (cat,/var/rtorrent/logs/rtorrent.log,(system.pid))

# Port SCGI for XMLRPC
scgi_port = localhost:5000
